.primary-btn
    display: inline-block
    padding: 10px 20px
    color: white
    border: 0
    background-color: #FEA6A4
    text-decoration: none !important
    text-align: center
    border-radius: 10px 20px 10px 20px 
    margin: 20px
    transition: background-color 0.3s ease, transform 0.2s ease, border-radius 0.2s ease

    &:hover
        // transform: scale(1.05)  // Slight scale-up on hover
        border-radius: 10px
        color: white

.primary-btn.disabled
    background-color: #E0E0E0   // Soft gray to show it's inactive
    color: #A0A0A0              // Muted text color
    cursor: not-allowed         // Change cursor to indicate it's unclickable
    pointer-events: none        // Prevents interaction
    opacity: 0.8                // Slight transparency for visual cue

.secondary-btn
    display: inline-block
    padding: 5px 20px
    color: black
    border: 0px
    background-color: $secondary-color
    text-decoration: none !important
    text-align: center
    border-radius: 20px
    margin: 20px
    transition: background-color 0.3s ease, transform 0.2s ease

    &:hover
        transform: scale(1.05)  // Slight scale-up on hover