.simple-info-box
  background-color: red
  padding: 2rem
  margin: 0 auto
  margin-top: 150px
  width: 80vw // Default for larger screens
  max-width: 1500px
  position: relative
  h2
    color: white
  @media screen and (max-width: 768px)
    // width: 100vw // Full width on mobile
.pointing-strawberry
  width: 150px
  position: absolute
  left: 50%
  top: 0
  transform: translate(-20%, -65.7%)